#suggestions {
    z-index: 69;
    max-height: 144px;
    position: absolute;
    display: none;
    width: auto;

    border: 2px solid var(--border-color-primary);
    background-color: var(--block-background-fill);
    border-radius: 8px;

    overflow-y: auto;
    scrollbar-color: var(--body-text-color) transparent;
    scrollbar-width: thin;
}

#suggestions li {
    margin: 4px;
    padding: 4px;
    cursor: pointer;
    background-color: var(--background-fill-secondary);
    color: var(--body-text-color);
    border-radius: 4px;
}

#suggestions li.selected {
    background-color: var(--table-row-focus);
}
